html {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.flex{
    display: flex;
}
main{
    margin: 0 auto;
    width: 80%;
}
body{
    font-family: 'Cantarell', serif;
    background: url("../../picture/fond_blog.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

main article{
    border-radius: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(160,134,134,0.6) 0, rgba(255,255,255,0.6) 100%);
    background: -moz-linear-gradient(45deg, rgba(160,134,134,0.6) 0, rgba(255,255,255,0.6) 100%);
    background: linear-gradient(45deg, rgba(160,134,134,0.6) 0, rgba(255,255,255,0.6) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: -4px 6px 7px 0 rgba(0,0,0,0.68) ;
    box-shadow: -4px 6px 7px 0 rgba(0,0,0,0.68) ;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    margin:2%;
}
main article:nth-of-type(2),main article:nth-of-type(3){
    display: none;
}
main h1,h2,h3,h4,h5,h6{
    margin-top: 2%;
    font-size: 3rem;
}
main article a{
    color: firebrick;
    text-decoration: none;
}
main h1{
    text-align: center;
}
main p{
    margin: 0 2%;
    line-height: 2;
   font-size: 2rem;
}
main h1+ p {
    text-align: center;
    font-size: 2rem;
}
main button {
    background-color: white;
    color: black;
    border: 3px solid #7f8b90;
    font-size: 2rem;
}

main button:hover {
  background-color: #555555;
  color: white;
}
@media screen and (max-width: 640px) {

    main {
        width: 100%;
    }
    p,h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
    h1,h2,h3,h4,h5,h6{
        margin-top:6%;
    }
    main article{
        margin-bottom: 2rem;
    }
    main button {
        font-size: 3rem;
        margin: 20px;
    }
}


