html {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
    margin-top: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
}
main{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    position: relative;
}
.disparition,main section.pendu section:nth-of-type(4).disparition{
    display: none;
}
main section.pendu section:nth-of-type(1){ /* Affichage score ou petit menu*/
     position: absolute;
     width: 25%;
     margin-left: 5%;
     font-size: 2rem;
 }
main section.pendu section:nth-of-type(5){ /* affiche résultat*/
    position: absolute;
    right:50px;
    top:0;
    width: 25%;
    text-align: center;
}
main section.pendu section:nth-of-type(5) p{ /* affiche résultat*/
    font-size: 5rem;
}
main section.pendu section:nth-of-type(5) button{
    font-size: 2rem;
}
main section.pendu section:nth-of-type(2){ /* Pour le pendu*/
    text-align: center;
}
main section.pendu section:nth-of-type(3){ /* pour le mot caché*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main section.pendu section:nth-of-type(4){ /*Pour le petit clavier a bouton*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;
    width: 50%;
    flex-wrap: wrap;
}
main section.pendu section:nth-of-type(4) button{ /* Pour les button*/
    font-size: 2rem;
    margin: 5px;
}

div.lettre{ /* Pour les lettre caché*/
    font-size: 4rem;
    color:white;
    margin: 0 10px;
    justify-content: center;
    border-bottom: 2px solid black;
}
canvas{ /* canvas pendu*/
    border: 1px solid black;
}
main section.pendu section:nth-of-type(1) article:nth-of-type(3){ /*petit menu*/
    text-align: center;
}
main section.pendu section:nth-of-type(1) article:nth-of-type(3) button{ /*petit menu bouton*/
    margin: 2%;
}
main section.regle{
    font-size: 2rem;
    text-align: center;
}
main section.regle ul {
    width: 50%;
   margin: 0 auto;
}
main section.regle p{
    font-size: 3rem;
}
main section.regle button{
    margin:2%;
    font-size: 2rem;
}

button{
    box-shadow:inset 0px 1px 0px 0px #75140b;
    background:linear-gradient(to bottom, #735956 5%, #946e6e 100%);
    background-color:#735956;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #707070;
}
button:hover {
    background:linear-gradient(to bottom, #946e6e 5%, #735956 100%);
    background-color:#946e6e;
}
button:active {
    position:relative;
    top:1px;
}

button:disabled{
    background:linear-gradient(to bottom, rgba(153, 153, 153, 0.54) 5%, #eff2ff 100%);
    background-color: rgba(129, 138, 138, 0.52);
}
canvas{
    border: #75140b 1px solid;
}
@-webkit-keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
